<div class="row pt-4 pb-4">
  <div class="col-lg-2 col-12 font-weight-bold">
    SHOPIFY
  </div>
  <div class="col-lg-6 col-12">
    <ul class="site-menu d-none d-lg-block mr-4">
      <li class="has-children active d-inine-block mr-4">
        <a href="">Collection</a>
      </li>

      <li class="d-inline-block mr-4"><a>Shop</a></li>
      <li class="d-inline-block mr-4"><a>Catalogs</a></li>
      <li class="d-inline-block mr-4"><a>Contact</a></li>
    </ul>
  </div>
  <div class="col-lg-4 col-12">
    <ul class="text-align-right">
      <li class="d-inline-block mr-2">Search <i class="fa fa-search"></i> </li>
      <li class="d-inline-block mr-2"> Favoris <i class="fa fa-heart"></i> </li>
      <li class="d-inline-block mr-2"> Shopping <i class="fa fa-shopping-cart"></i> </li>
    </ul>
  </div>
</div>