<div style="display: flex;justify-content: space-evenly;">
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/tennis3.jpg" class="card-img-top" alt="..." width="200px" height="300px">
    <div class="card-body">
      <h5 class="card-title">Shoes 1</h5>
      <p class="card-text">This is the best shoe collection</p>
      <a href="#" class="btn btn-primary">Shop now</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/tennis2.jpg" class="card-img-top" alt="..." width="200px" height="300px">
    <div class="card-body">
      <h5 class="card-title">Shoes 2</h5>
      <p class="card-text">This is the best shoe collection</p>
      <a href="#" class="btn btn-primary">Shop now</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/tennis1.jpeg" class="card-img-top" alt="..." width="200px" height="300px">
    <div class="card-body">
      <h5 class="card-title">Shoes 3</h5>
      <p class="card-text">This is the best shoe collection</p>
      <a href="#" class="btn btn-primary">Shop now</a>
    </div>
  </div>
  
</div>