<h1 class="header">BEST SELLERS</h1>
<div style="display: flex;justify-content: space-evenly;">
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/jacket1.webp" class="card-img-top" alt="..." width="200px" height="300px">
    <div class="card-body">
      <h5 class="card-title">Jacket 1</h5>
      <p class="card-text">This is the best jacket collection</p>
      <a href="#" class="btn btn-primary">Shop now</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/jacket2.jpeg" class="card-img-top" alt="..." width="200px" height="300px">
    <div class="card-body">
      <h5 class="card-title">Jacket 2</h5>
      <p class="card-text">This is the best jacket collection</p>
      <a href="#" class="btn btn-primary">Shop now</a>
    </div>
  </div>
  <div class="card" style="width: 20rem;">
    <img src="../../../assets/jacket3.jpg" class="card-img-top" alt="..." width="200px" height="300px">
    <div class="card-body">
      <h5 class="card-title">Jacket 3</h5>
      <p class="card-text">This is the best jacket collection</p>
      <a href="#" class="btn btn-primary">Shop now</a>
    </div>
  </div>
  
</div>